extends layout

block layout-content
	//div with style: View.WelcomeView
	div.View.WelcomeView
		h1.Banner Website
		div.Message
			div.Title
				h3 lorem
				h1 Ipsum
				h2 lorem
			span.Details Ipsum
		div.NavButtons
			if isAuthenticated
				a(href="/user")
					div.NavButton Just dive in!
			else
				a(href="/login")
					div.NavButton Log in