extends layout

block layout-content
	h1.Banner Website
	div.Message
		div.Title
			h3 lorem #{locals.title}
			h1 Ipsum
			h2 lorem #{locals.title}
		span.Details Ipsum
	div.NavButtons
		if isAuthenticated
			a(href="/user")
				div.NavButton Just dive in!
		else
			a(href="/login")
				div.NavButton Log in