extends layout

block layout-content
  div.Message
    span I created this WebApp to: 
    br
    span * Learn things
    br
    span * Document what i have learned
    br
    span * Gather What I've learned in one place
    br
    br
    span You are not logged in

    //span.Details  #{locals.title}
  div.NavButtons
