extends layout

block layout-content
    div.center
        form(action="/user" method="POST")
            //value = locals.firstName
            h3 UserName
            input(type="text" name="username")
            h3 Password
            input(type="text" name="password")
            button(type="submit" name='login').div.NavButton Login
