extends layout

block layout-content
    form(action="/users" method="POST")
        label First Name
            //value = locals.firstName
            input(type="text" name="firstName" value="hi")
        button(type="submit") Submit
