extends layout

block layout-content

    div.center
        form(action="/users" method="POST")
            //value = locals.firstName
            h3 UserName
            input(type="text" name="userName")
            h3 Password
            input(type="text" name="password")
            button(type="submit").div.NavButton Submit
