<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width">
        <title>Example</title>
    </head>
    <body>
    hello <%= locals.text ||'Default' %> <br>
    hello <% locals.text ||'Default' %> <br>  <!--don't output, aka ignore %= -->
    hello <%= locals.text2 ||'Default' %> <br>
    hello <%= locals.text3 ||'Default' %> 
    </body>
</html>